.Contact{
   /* flex: 4; */
   height: 100vh;
   background-color: white;
   padding: 40px 40px 0px 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   
}

.Header{
   display: none;
   
}

.Text{
   flex: 1;
   margin: 60 auto;
   padding: 40 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between
}

.Touch{
   color: Blue;
   font-size: 2em;
   font-style: italic;
   margin: 20 auto;
   
}

.Available{
   color: Black;
   font-size: 1.5em;
   margin: 30 auto;
   
}

.DetCard{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   font-Size: 1.5em;
   flex: 4;
}

.phone, .mail, .whatsapp{

   width: 40vh
} 

.Iconsp {
   font-size: 4em;
   padding: 20 auto
}

.Iconsw {
   font-size: 4em;
   padding: 20 auto;
   color: #25D366
}

.Iconsm {
   font-size: 4em;
   padding: 20 auto;
   color: #D44638
}

.mails {
   font-size: 20px
}

@media screen and (max-width: 1200px) {
   .DetCard{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-bottom: 40px;
   }

   .phone {
      justify-self: center;
      text-align: center;
   }
   .whatsapp {
      justify-self: center;
      text-align: center;
   }
   .mail {
      grid-column: 1 / span 2;
      justify-self: center;
      text-align: center;
   }

}

@media screen and (max-width: 1000px) {
   .Header{
      display: contents;
   }
}

@media screen and (max-width: 685px) {
   .DetCard{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 40px;
   }
   .Contact{
      padding: 60px 30px 0px 30px;
      
      
   }
}