.Outline{
   flex: 1;
   background-color: rgb(0, 0, 255, 0.65);
   height: 100vh;
   padding: 20px;
   overflow: auto;
   scrollbar-width: thin;
   scrollbar-color: blue  #d9f0f6;
}
.Outline::-webkit-scrollbar {
   width: 10px;
}
.Outline::-webkit-scrollbar-track {
   /* background: #009acc; */
   background:  rgb(0, 0, 255, 0.65);
}
.Outline::-webkit-scrollbar-thumb {
   background-color: rgb(0, 0, 255, 0.65);
   border-radius: 20px;
   border: 2px solid white;
}

.ham{
   align-items: right;
   border-width: 2px solid black;
}

@media screen and (max-width: 1200px) {
   .Outline{
      padding: 20px 20px 20px 20px
   }
}

@media screen and (max-width: 1000px) {
   .Outline{
      display: none
   }
}
