.Projects{
   overflow: scroll;
   height: 100vh;
   background-color: white;
   padding: 40px 40px 0px 40px;
   scrollbar-color: rgb(0, 174, 255) blue;
}
.Projects::-webkit-scrollbar {
   width: 10px;
}
.Projects::-webkit-scrollbar-track {
   background: white
}
.Projects::-webkit-scrollbar-thumb {
   background-color: rgb(0, 174, 255);
   border-radius: 20px;
   border: 3px solid blue
}

.Header{
   display: none; 
}

.Title{
   color: blue;
   font-size: 3em;
}

.TechTitle{
   color: orange;
   font-size: 2em;
   margin: 40px 0px 10px 0px;
   font-weight: bold;
}

.SubTitle{
   color: rgb(0, 174, 255);
   font-size: 2em;
   font-style: italic
}

.ProjectLane{
   display: flex;
   justify-content: space-around;
}

.ProjectCard{
   flex:1;
   margin: 20;
   padding: 20;
   width: 80%;
}

.ProjectImage{
   height: 250px;
   width: 80%;
   max-width: 400px;
}
.ProjectImageNat{
   height: 400px;
   width: 80%;
   max-width: 400px;
}
.ProjectText{
   width: 100%;
   text-align: left;
   margin: auto;
   font-size: 1.1em;
   padding-bottom: 10px;
}
.ProjectTitle{
   color: rgb(0, 174, 255);
   font-size: 1.5em;
   font-weight: bold;
   padding-bottom: 12px;
}
a{
   text-decoration: none;
   color: rgb(0, 174, 255);
}
a:hover{
   color: #37FF15;
   
}

.GridCont{
   display: grid;
   grid-template-columns: 28% 20% 25% 27%;
   list-style-type: disc ;
   width: 90%;
}

.GridCont li{
   padding-right: 12px;
}

@media screen and (max-width: 1000px) {
   .Header{
      display: contents;
      background-color: blue;
   }
   .SubTitle{
      font-size: 1.6em
   }
   .Projects{
      height: max-content;
   }
}
@media screen and (max-width: 650px) {
   .ProjectText{
      font-size: 0.9em;
   }
}
@media screen and (max-width: 541px) {
   .ProjectText{
      font-size: 0.9em;
   }
   .GridCont{
      display: grid;
      grid-template-columns: 33% 33% 33%;
      list-style-type: disc ;
      width: 90%;
   }
   .ProjectLane{
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   }
   .ProjectCard{
      padding-bottom: 20px;
   }
   .Projects{
      padding: 40px 25px 0px 25px;
   }
}
